#wrap {}

a:hover {
    color: #ff6700;
}

.comWidth {
    width: 1226px;
    margin: 0 auto;
}

.topbar {
    background: #333;
    height: 40px;
    margin-bottom: 10px;
}

.topbar .leftArea li {
    float: left;
}

.topbar .leftArea a {
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
}

.topbar .leftArea a:hover {
    color: #fff;
}

.topbar .leftArea .sep {
    line-height: 35px;
    color: #424242;
    width: 16px;
    display: inline-block;
    margin: 0 auto;
    text-align: center;
}

.topbar .rightArea {
    float: right;
}

.topbar .rightArea a {
    color: #b0b0b0;
    font-size: 12px;
    line-height: 40px;
    display: inline-block;
}

.topbar .rightArea .sep {
    line-height: 35px;
    color: #424242;
    width: 10px;
    text-align: center;
}

.topbar .cart-mini {
    background: #424242;
    width: 120px;
    height: 40px;
    margin-left: 20px;
    position: relative;
}

.topbar .cart-mini a {
    padding-left: 30px;
}

.topbar .cart-mini i {
    margin-right: 4px;
    font-size: 20px;
    line-height: 20px;
    vertical-align: -4px;
}

.topbar .cart-menu {
    display: none;
    position: absolute;
    height: 0;
    right: 60px;
    top: 40px;
    z-index: 100;
    width: 316px;
    padding: 15px 0 0;
    background: #fff;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
    -webkit-box-shadow: 0 2px 10px #000000;
    -webkit-box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    -ms-box-shadow: 0 2px 10px #000000;
    box-shadow: 0 2px 10px #000000;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
}

.topbar .cart-menu .empty {
    margin: 20px;
    text-align: center;
}

.topbar .cart-mini:hover {
    background-color: white;
}

.topbar .cart-mini:hover i, .topbar .cart-mini:hover a {
    color: #ff6700;
}

.topbar .cart-mini:hover + .cart-menu {
    height: 80px;
    display: block;
}

.topbar .cart-menu:hover {
    height: 80px;
    display: block;
}

.container {}

.nav {
    height: 90px;
}

.nav .logo {
    background-color: #ff6700;
    background: url(../img/logo.png) no-repeat;
    width: 55px;
    height: 55px;
    margin-right: 7px;
    margin-top: 12px;
}

.doodle-ad {
    width: 180px;
    height: 60px;
    background: url(../img/doodle0517.gif) no-repeat;
    margin-top: 8px;
    margin-left: -10px;
}

.nav .nav_list {}

.nav .nav_list li {
    float: left;
}

.nav .nav_list a {
    line-height: 80px;
    padding: 26px 12px 40px;
    color: #333;
    font-size: 16px;
}

.nav .nav_list a:hover {
    color: #ff6700;
}

.border_hover {
    border: 2px solid #ff6700;
    color: red;
}

.search {
    width: 300px;
    height: 50px;
    position: relative;
    margin-top: 15px;
    margin-left: 63px;
}

.search-box .search-txt {
    width: 230px;
    height: 48px;
    z-index: 1;
    padding-left: 15px;
    border: 1px solid #e0e0e0;
    border-right: none;
}

.search-btn {
    width: 53px;
    height: 50px;
    border: 1px solid #e0e0e0;
    background: url(../img/search1.png) 16px 15px no-repeat;
}

/*todo: the hover do not active*/

.search-btn:hover {
    cursor: pointer;
    width: 53px;
    height: 50px;
    background-color: #ff6700 !important;
    -webkit-transition: all .8s;
    -moz-transition: all .8s;
    -ms-transition: all .8s;
    -o-transition: all .8s;
    transition: all .8s;
    background: url(../img/search2.png) 16px 15px no-repeat;
}

.search-box .hot-word1,
.search .hot-word2 {
    position: absolute;
    font-size: 12px;
    -ms-opacity: 100;
    opacity: 100;
}

.search-box .hot-word1 a,
.search-box .hot-word2 a {
    padding: 2px 5px 2px 5px;
    background-color: #eee;
    color: #757575;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

.search-box .hot-word1 {
    left: 115px;
    top: 17px;
}

.search-box .hot-word2 {
    left: 190px;
    top: 17px;
}

.search-box .hot-word1 a:hover,
.search-box .hot-word2 a:hover {
    background: #ff6700;
    color: #fff;
}

/*
.search-box .search-txt:hover + .search-btn,
.search-box .search-txt:hover {
    border-color: #666666;
    transition: all .8s;
}*/

.search .search-extra {
    border: 1px solid #ff6700;
    width: 245px;
    position: absolute;
    top: 49px;
    left: 0;
    display: none;
    z-index: 10;
}

.search .search-extra a {
    display: block;
    background: #fff;
    padding: 8px 10px;
    position: relative;
}

.search .search-extra a:hover {
    background: #FAFAFA;
}

.search .search-extra .spec_name {
    color: #424242;
    font-size: 12px;
    text-align: right;
}

.search .search-extra .result {
    color: #B5B5B5;
    font-size: 10px;
    position: absolute;
    right: 15px;
}

/*nav show */

.navMenu {
    z-index: 30;
    position: absolute;
    left: 0;
    top: 140px;
    background: #fff;
    border-top: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    box-shadow: 1px 2px 5px #CCCCCC;
    padding: 28px 0;
    width: 100%;
}

.nav_menu_list {
    margin-left: 5%;
}

.nav_menu_list_img {
    display: block;
    border-right: 1px solid #e0e0e0;
    height: 110px;
    width: 203px;
    text-align: center;
}

.nav_menu_list_title {
    margin-top: 20px;
    text-align: center;
    letter-spacing: 1px;
    display: block;
    color: #757575;
    font-size: 12px;
}

.nav_menu_list_price {
    display: block;
    text-align: center;
    color: #ff6700;
    font-size: 12px;
}

.nav_menu_spec li {
    width: 204px;
    margin-left: -20px;
    float: left;
}

.nav_menu_show1,
.nav_menu_show2,
.nav_menu_show3,
.nav_menu_show4,
.nav_menu_show5,
.nav_menu_show6,
.nav_menu_show7 {
    display: none;
}

/*catagory css*/

.category {
    height: 460px;
    margin-bottom: 15px;
    position: relative;
}

.category_list {
    width: 234px;
    background: #000000;
    background: rgba(0, 0, 0, 0.6);
    z-index: 20;
    position: absolute;
    padding: 20px 0 20px 0;
    top: 0;
    left: 0;
}

.category_list li .category_item_icon {
    display: block;
    height: 42px;
    color: #fff;
    line-height: 42px;
    padding-left: 30px;
    background: url(../img/navMenu_icon.png) no-repeat 190px 5px;
    z-index: 30;
}

.category_list li .category_item_icon:hover {
    background-color: #ff6700;
}

.category .category_hot_list {
    z-index: 10;
    height: 460px;
    /*width: 6130px;*/
}

.category .category_hot_list li {
    position: absolute;
    float: left;
    width: 1226px;
}

.category .category_hot_list img {
    height: 460px;
}

/*category hot_list controls*/
.category_hot .hot_list_controls .ui-prev {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 41px;
    height: 69px;
    left: 234px;
    margin-top: -35px;
    background: url(../img/icon/imgControls_prev.jpg) no-repeat;
    opacity: 0.3;
}

.category_hot .hot_list_controls .ui-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    z-index: 999;
    width: 41px;
    height: 69px;
    right: 0px;
    margin-top: -35px;
    background: url(../img/icon/imgControls_next.jpg) no-repeat;
}

.category_hot .hot_list_controls a {
    opacity: 0.3;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.category_hot .hot_list_controls a:hover {
    opacity: 1.0;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}


/*category_item*/
.category_list .category_item_box {
    z-index: 20;
    background: #fff;
    position: absolute;
    left: 235px;
    top: 0;
    height: 460px;
    /*padding-right: 40px;*/
    display: none;
    border-top: solid 1px #e0e0e0;
    -webkit-box-shadow: 0 8px 16px #000000;
    -ms-box-shadow: 0 8px 16px #000000;
    -ms-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    box-shadow: 0 8px 16px #000000;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.18);
    /*width: 810px;*/
}

.category_list .category_item_box:hover {}

.category_list .category_item_box .category_item_list {
    /*margin-right: 20px;*/
    width: 265px;
}

.category_item_spec {
    height: 41px;
}

.category_item_spec_detail {
    width: 170px;
    display: block;
    height: 41px;
    line-height: 41px;
    margin: 18px 0 18px 20px;
    color: #333;
}

.category_item_spec_detail .category_item_title {
    height: 41px;
    line-height: 41px;
    position: relative;
    top: -15px;
    margin-left: 10px;
}

.category_item_spec_detail:hover {
    color: #ff6700;
}

.category_item_spec_detail .category_item_btn {}

.category_item_spec_detail .category_item_btn:hover {
    color: #fff;
    background: #ff6700;
}

.category_item_spec .category_item_btn {
    width: 50px;
    height: 24px;
    margin-top: 30px;
    display: block;
    border: 1px solid #ff6700;
    color: #ff6700;
    text-align: center;
    line-height: 24px;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.category_item_spec .category_item_btn:hover {
    cursor: pointer;
    background: #ff6700;
    color: #fff;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.category .category_move {
    position: absolute;
    bottom: 20px;
    left: 1100px;
    z-index: 30;
}

.category .category_move li {
    margin: 0 5px;
    float: left;
}

.category .category_move li span, .common_move {
    width: 6px;
    height: 6px;
    display: block;
    border: 2px solid #fff;
    border-color: rgba(255,255,255,0.3);
    -ms-border-radius: 10px;
    border-radius: 10px;
    background: #000000;
    background: rgba(0,0,0,0.4);
    overflow: hidden;
}

.category .category_move li .cur_move {
    background: #fff;
    background: rgba(255,255,255,0.4);
    border-color: #000000;
    border-color: rgba(0,0,0,0.3);
}

.category .category_move li span:hover {
    cursor: pointer;
    background: #ffffff;
    background: rgba(255,255,255,0.4);
}

.channel {
    height: 170px;
    margin-left: -14px;
}

.channel_list {
    height: 163px;
    width: 228px;
    margin: 0;
    padding: 3px;
    list-style-type: none;
    font-size: 12px;
    text-align: center;
    background: #5f5750;
}

.channel_list li {
    /*border-right: solid 1px  #665E57;
    border-bottom: solid 1px  #665E57;*/
    position: relative;
    float: left;
    width: 70px;
    height: 82px;
    padding: 0 3px;
    font-size: 12px;
    line-height: 30px;
}

.channel_list i {
    display: block;
    height: 24px;
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 24px;
}

.channel_list li a {
    display: block;
    padding-top: 18px;
    color: #ffffff;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
    color: rgba(255, 255, 255, 0.7);
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.channel_list li a:hover {
    color: #fff;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

.channel_list li:after {
    top: 6px;
    left: 0;
    width: 1px;
    height: 70px;
}

.channel_list li:before {
    top: -1px;
    left: 6px;
    width: 64px;
    height: 1px;
}

.channel_list li:after, .channel_list li:before {
    position: absolute;
    content: "";
    background: #665e57;
}

.hotimg-grid {
    width: 978px;
    height: 170px;
    margin-left: 14px;
}

.hotimg-grid-list {
    height: 170px;
}

.hotimg-grid-list li {
    float: left;
    margin-left: 15px;
}

.hotimg-grid-list li.first {
    margin-left: 0;
}

.hotimg-grid-list img {
    width: 316px;
    height: 170px;
    -webkit-transition: all .35s;
    -moz-transition: all .35s;
    -ms-transition: all .35s;
    -o-transition: all .35s;
    transition: all .35s;
}

.hotimg-grid-list img:hover {
    -webkit-box-shadow: 7px 7px 15px #CCCCCC;
    -ms-box-shadow: 7px 7px 15px #CCCCCC;
    box-shadow: 7px 7px 15px #CCCCCC;
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    -ms-transform: translate3d(0, -2px, 0);
    -o-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
    /*transition: box-shadow .2s linear;*/
}

.spec_top {
    height: 58px;
    margin-top: 26px;
    line-height: 58px;
}

.spec_top .spec_type_nav li {
    float: left;
}

.spec_top .spec_type_nav li a, .normal {
    color: #424242;
    font-size: 16px;
    margin-left: 24px;
    padding-bottom: 3px;
}

.spec_top .spec_type_nav li a:hover, .spec_top .spec_type_nav li .cur {
    cursor: pointer;
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.spec_item {
    width: 234px;
    height: 300px;
    background: #fff;
    padding-top: 39px;
    margin-right: 14px;
    margin-bottom: 40px;
}

.spec_img {
    width: 160px;
    height: 160px;
    display: block;
    margin: 0 auto;
    cursor: pointer;
}

.spec_img img {
    width: 160px;
    height: 160px;
}

.spec_type_title {
    font-weight: normal;
    font-size: 22px;
    color: #333;
}

.spec_title {
    text-align: center;
}

.spec_title a {
    color: #212121;
    font-size: 14px;
    font-weight: normal;
}

.spec_desc {
    text-align: center;
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom: 10px;
}

.spec_money {
    text-align: center;
    color: #ff6709;
}

.star_spec_wrapper {
    overflow: hidden;
    width: 1240px;
}

.star_spec {
    position: relative;
    height: 438px;
}

.star_spec {
    width: 2480px;
}

.star_spec .spec_item_list {
    height: 340px;
    position: absolute;
    left: 0;
    top: 100px;
    padding-bottom: 20px;
    margin-top: -43px;
}

.star_spec .spec_item {
    background: #FAFAFA;
}

.star_spec li {
    float: left;
}

.star_spec .spec_img {
    margin-bottom: 20px;
}

.star_spec .spec_left_right {
    width: 100px;
    height: 20px;
    margin-left: 1022px;
    margin-top: 16px;
}

.star_spec .spec_left_right a {
    width: 34px;
    height: 22px;
    border: 1px solid #e0e0e0;
    display: block;
    cursor: pointer;
}

.star_spec .spec_left_right img {
    position: absolute;
    margin: 4px 0 0 12px;
}

.spec_top_border1 {
    border-top: 1px solid #ffac13;
}

.spec_top_border2 {
    border-top: 1px solid #83c44e;
}

.spec_top_border3 {
    border-top: 1px solid #2196f3;
}

.spec_top_border4 {
    border-top: 1px solid #e53935;
}

.spec_top_border5 {
    border-top: 1px solid #00c0a5;
}

.page-main {
    padding-top: 60px;
    background: #f5f5f5;
}

.page-main .title-box {
    position: relative;
    /*height: 58px;*/
    -webkit-font-smoothing: antialiased;
}

.page-main .title-box .title {
    margin: 0;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}

.page-main .title-box .more {
    position: absolute;
    top: 0;
    right: 0;
}

.page-main .title-box .more .more-link {
    font-size: 16px;
    line-height: 58px;
    color: #424242;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
}

.page-main .title-box .more .more-link .iconfont {
    width: 12px;
    height: 12px;
    padding: 4px;
    margin-left: 8px;
    -ms-border-radius: 12px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 12px;
    background: #b0b0b0;
    color: #fff;
    vertical-align: 1px;
}

.page-main .title-box .more .more-link:hover {
    color: #ff6700 !important;
}

.span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12, .span13, .span14, .span15, .span16, .span17, .span18, .span19, .span20 {
    float: left;
    margin-left: 14px;
    min-height: 1px;
}

.row {
    margin-left: 14px;
    height: 630px;
}

.row .first-row {
    margin-left: -28px;
}

.row .first-row .block-item {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.row .img-l {
    height: 600px;
}

.row .img-m {
    height: 298px;
}

.span1 {width: 48px;}
.span2 {width: 110px;}
.span3 {width: 172px;}
.span4 {width: 234px;}
.span5 {width: 296px;}
.span6 {width: 358px;}
.span7 {width: 420px;}
.span8 {width: 482px;}
.span9 {width: 544px;}
.span10 {width: 606px;}
.span11 {width: 668px;}
.span12 {width: 730px;}
.span13 {width: 792px;}
.span14 {width: 854px;}
.span15 {width: 916px;}
.span16 {width: 978px;}
.span17 {width: 1040px;}
.span18 {width: 1102px;}
.span19 {width: 1164px;}
.span20 {width: 1226px;}

.offset1 {margin-left: 48px;}
.offset2 {margin-left: 110px;}
.offset3 {margin-left: 172px;}
.offset4 {margin-left: 234px;}
.offset5 {margin-left: 296px;}
.offset6 {margin-left: 358px;}
.offset7 {margin-left: 420px;}
.offset8 {margin-left: 482px;}
.offset9 {margin-left: 544px;}
.offset10 {margin-left: 606px;}
.offset11 {margin-left: 668px;}
.offset12 {margin-left: 730px;}
.offset13 {margin-left: 792px;}
.offset14 {margin-left: 854px;}
.offset15 {margin-left: 916px;}
.offset16 {margin-left: 978px;}
.offset17 {margin-left: 1040px;}
.offset18 {margin-left: 1102px;}
.offset19 {margin-left: 1164px;}
.offset20 {margin-left: 1226px;}

.offsetb10 {margin-bottom: 10px;}
.offsetb20 {margin-bottom: 20px;}

.block-item {
    position: relative;
    z-index: 1;
    float: left;
    width: 234px;
    margin-left: 14px;
    margin-bottom: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.block-item:hover {
    -webkit-box-shadow: 0 15px 30px #000000;
    -ms-box-shadow: 0 15px 30px #000000;
    -ms-box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    box-shadow: 0 15px 30px #000000;
    box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    -ms-transform: translate3d(0, -2px, 0);
    -o-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.block-list {
    width: 992px;
}

.block-item-m .figure-img {
    width: 160px;
    height: 160px;
    margin: 0 auto 18px;
}

.block-item-m .title {
    margin: 0 10px 2px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
}

.block-item-m .title, .block-item-m .title a {
    color: #333;
}

.block-item-m .desc {
    margin: 0 10px 10px;
    height: 18px;
    font-size: 12px;
    text-align: center;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    _zoom: 1;
    color: #b0b0b0;
}

.block-item-m .price {
    margin: 0 10px 10px;
    text-align: center;
    color: #ff6700;
}

.block-item-m .review-wrapper {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 3;
    width: 234px;
    height: 0;
    overflow: hidden;
    font-size: 12px;
    background: #ff6700;
    -ms-opacity: 0;
    opacity: 0;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.block-item-m:hover .review-wrapper {
    height: 75px;
    -ms-opacity: 1;
    opacity: 1;
}

.block-item-m .review-wrapper a {
    display: block;
    padding: 8px 30px;
    outline: 0;
}

.block-item-m .review {
    margin-bottom: 5px;
    display: block;
    color: #fff;
}

.block-item-m .author {
    display: block;
    color: #ffffff;
    color: rgba(255,255,255,0.6);
}

.block-list-s {
    float: left;
    width: 234px;
    height: 93px;
    background-color: rgb(255,255,255);
    padding: 50px 0 0 0;
    margin-left: 14px;
    margin-bottom: 14px;
}

.block-list-s .figure-img {
    position: absolute;
    right: 20px;
    top: 32px;
    width: 80px;
    height: 80px;
}

.block-list-s .title {
    margin: -10px 110px 5px 30px;
    font-size: 14px;
    font-weight: 400;
}

.block-list-s .price {
    margin: 0 110px 0 30px;
    font-size: 12px;
    color: #ff6700;
}

.title-box .more .tab-list {
    margin: 0;
    padding: 16px 0 0;
    list-style-type: none;
    font-size: 16px;
}

.title-box .more .tab-list li.tab-active {
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}

.title-box .more .tab-list li {
    display: inline-block;
    padding: 0;
    margin: 0 15px;
    color: #424242;
    border-bottom: 2px solid #f5f5f5;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-color .5s;
    -moz-transition: border-color .5s;
    -ms-transition: border-color .5s;
    -o-transition: border-color .5s;
    transition: border-color .5s;
    cursor: pointer;
}

.block-item .flag {
    position: absolute;
    top: 0;
    left: 50%;
    z-index: 2;
    width: 64px;
    height: 20px;
    margin-left: -32px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    color: #fff;
}

.block-item .flag-saleoff {
    background-color: #e53935;
}

.block-item .flag-postfree {
    background-color: #ffac13;
    z-index: 4;
}

.block-item .flag-gift {
    background-color: #2196f3;
    z-index: 3;
}

.block-item .flag-new {
    background-color: #83c44e;
    z-index: 5;
}

.figure-more {
    position: absolute;
    right: 35px;
    top: 48px;
    width: 48px;
    height: 48px;
    color: #ff6700;
}

.figure-more i {
    font-size: 48px;
}

.block-item .more {
    display: block;
    margin: 0 110px 0 30px;
    font-size: 18px;
    color: #333;
}

.block-item .more .small {
    display: block;
    font-size: 12px;
    color: #757575;
}

#footer .footer_top {
    margin-right: auto;
    margin-left: auto;
}

#footer .footer-service {
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}

#footer .list-service {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#footer .list-service li {
    float: left;
    width: 19.8%;
    height: 25px;
    border-left: 1px solid #e0e0e0;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
}

#footer .list-service li:first-child {
    border-left: 0;
}

#footer .list-service a {
    color: #616161;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

#footer .list-service a:hover {
    color: #ff6709;
}

#footer .list-service .iconfont {
    margin-right: 6px;
    font-size: 24px;
    line-height: 24px;
    vertical-align: -4px;
}

#footer .footer-links {
    padding: 40px 0;
}

#footer .footer-links .col-links {
    float: left;
    width: 160px;
    height: 112px;
    margin: 0;
}

#footer .footer-links .col-links dt {
    margin: -1px 0 26px;
    font-size: 14px;
    line-height: 1.25;
    color: #424242;
}

#footer .footer-links .col-links dd {
    margin: 10px 0 0;
    font-size: 12px;
}

#footer .footer-links .col-links a {
    color: #757575;
}

#footer .footer-links .col-links a:hover {
    color: #ff6709;
}

#footer .footer-links .col-contact {
    float: right;
    width: 251px;
    height: 112px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

#footer .footer-links .col-contact .phone {
    margin: 0 0 5px;
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}

#footer .footer-links .btn-line {
    display: inline-block;
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .4s;
    -moz-transition: all .4s;
    -ms-transition: all .4s;
    -o-transition: all .4s;
    transition: all .4s;
    border: 1px solid #ff6700;
    background: #fff;
    color: #ff6700;
}

#footer .footer-links .btn-line:hover {
    background-color: #ff6700;
    color: #fff;
}

#footer .footer-links .col-contact p {
    margin: 0 0 16px;
    font-size: 12px;
}

#footer .footer_bottom_container {
    height: 50px;
}

#footer .footer_bottom {
    background: #fafafa;
    padding: 30px 0;
    height: 100px;
}

#footer .footer_bottom_img {
    margin-right: 10px;
}

#footer .footer_bottom_nav li {
    float: left;
}

#footer .footer_bottom_nav a {
    color: #757575;
}

#footer li span {
    margin: 0.25em;
}

#footer .footer_bottom_info {
    color: #b0b0b0;
    font-size: 12px;
    width: 900px;
}

#footer .useless_link {
    float: right;
    height: 28px;
    margin: 4px 0 0;
}

.slogan {
    clear: both;
    margin: 30px auto 30px;
    width: 267px;
    height: 19px;
    background: url(../img/slogan2016.png) no-repeat center 0;
}

.ir {
    display: block;
    text-align: left;
    text-indent: -9999em;
    overflow: hidden;
}

.box-shadow:hover {
    -webkit-box-shadow: 0 15px 30px #000000;
    -ms-box-shadow: 0 15px 30px #000000;
    -ms-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    box-shadow: 0 15px 30px #000000;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate3d(0, -2px, 0);
    -moz-transform: translate3d(0, -2px, 0);
    -ms-transform: translate3d(0, -2px, 0);
    -o-transform: translate3d(0, -2px, 0);
    transform: translate3d(0, -2px, 0);
}

.box-shadow {
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    -ms-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    position: relative;
    z-index: 1;
}

.figure-img {
    height: 160px;
    width: 160px;
    margin: 0 auto 18px;
}
/*.figure-img img {
    width: 160px;
}*/

/*content css*/
.content {
    margin-bottom: 22px;
}

.content .content-list {
    width: 1240px;
    height: 420px;
    margin: 0;
    padding: 0;
}

.content-item {
    position: relative;
    width: 296px;
    height: 374px;
    padding: 45px 0 0;
    float: left;
    margin-bottom: 14px;
    margin-left: 14px;
    background-color: #fff;
}

.content-item .title {
    text-align: center;
    margin: 0 10px 18px 10px;
    font-size: 16px;
    font-weight: 400;
}

.content-item .xm-pagers-wrapper {
    position: absolute;
    width: 296px;
    bottom: 15px;
    left: 0;
    text-align: center;
}

li.content-item-first {
    margin-left: 0;
}

.content-item-book {
    border-top: solid 1px #ffac13;
    color: #ffac13;
}

.content-item-theme {
    border-top: solid 1px #83c44e;
    color: #83c44e;
}

.content-item-game {
    border-top: solid 1px #e53935;
    color: #e53935;
}

.content-item-app {
    border-top: solid 1px #2196f3;
    color: #2196f3;
}

.xm-pagers {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.xm-pagers .pager {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 10px;
    margin: 0 2px;
    cursor: pointer;
}

.xm-pagers .dot {
    display: block;
    width: 6px;
    height: 6px;
    border: 2px solid #f5f5f5;
    -ms-border-radius: 6px;
    border-radius: 6px;
    background-color: #b0b0b0;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.content-item .content-bd {
    overflow: hidden;
    height: 340px;
}

.content-item .item-list {
    height: 340px;
    width: 1184px;
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    color: #333;
}

.content-item .item-list li {
    width: 296px;
    height: 340px;
    float: left;
}

.content-item .name {
    margin: 0 20px 5px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.content-item .desc {
    margin: 0 48px 10px;
    height: 40px;
    font-size: 12px;
    line-height: 20px;
    text-align: center;
    overflow: hidden;
    color: #b0b0b0;
}

.content-item .price {
    color: #333;
    height: 21px;
    margin: 0 10px 15px;
    text-align: center;
}

.content-item .figure-img {
    width: 160px;
    height: 160px;
    margin: 0 auto;
}

.content-item .figure-img img {
    position: relative;
    right: 30px;
}

.xm-pagers .pager-active .dot, .xm-pagers .pager-active:hover .dot {
    border-color: #ff6700;
    background-color: #f5f5f5;
    background-color: transparent;
}

.xm-pagers .pager-active {
    cursor: default;
}

/*xm-controls*/
.content-item:hover .xm-controls .control {
    opacity: 0.3;
    transition: all .3s;
}

.content-item .xm-controls .control {
    cursor: pointer;
    position: absolute;
    top: 50%;
    -ms-opacity: 0;
    opacity: 0;
    transition: all .3s;
    margin-top: -20px;
    width: 20px;
    height: 48px;
    line-height: 24px;
}

.content-item .xm-controls .control:hover {
    opacity: 1.0;
    transition: all .3s;
}

.content-item .xm-controls .control-prev {
    left: 0;
}

.content-item .xm-controls .control-next {
    right: 0;
}

.main-page .smart,
.main-page .match,
.main-page .accessories,
.main-page .around,
.main-page .recommend,
.main-page .review,
.main-page .video {
    margin-bottom: 10px;
}

.content {
    padding-bottom: 50px;
}

.main-page .recommend {
    height: 438px;
}

.white {
    background-color: white;
}

.hotreview {
    height: 473px;
}

.hotreview .review-block-first {
    margin-left: 0 !important;
}

.hotreview .review-list {
    margin-left: -14px;
}

.hotreview .review-block {
    position: relative;
    float: left;
    width: 296px;
    height: 415px;
    margin-left: 14px;
    margin-bottom: 14px;
    background: #fff;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

.hotreview .review-block .figure-img {
    width: 296px;
    height: 220px;
    margin: 0 0 28px;
}

.hotreview .review-block .figure-img img {
    width: 296px;
    height: 220px;
}

.hotreview .review-block .review-content {
    height: 72px;
    margin: 0 28px 22px;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    overflow: hidden;
}

.hotreview .review-block .author {
    position: relative;
    height: 18px;
    margin: 0 28px 8px;
    padding: 0 10px 0 0;
    font-size: 12px;
    color: #b0b0b0;
}

.hotreview .review-block .info {
    margin: 0 30px;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.hotreview .review-block .info .title {
    display: inline-block;
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    max-width: 170px;
    -moz-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: bottom;
    color: #333;
}

.hotreview .review-block .info .price {
    display: inline;
    color: #ff6700;
}

