<!DOCTYPE html>
<html>

<head>
    <title>首页</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/iconfont.css">
    <!-- <script src="https://cdn.bootcss.com/jquery/3.0.0-beta1/jquery.js"></script> -->
    <script>
    if (!window.$) document.write('<script src="js/jquery.js">\x3C/script>')
    </script>
    <script src="https://cdn.bootcss.com/vue/1.0.7/vue.min.js"></script>
    <script>
    if (!window.Vue) document.write('<script src="js/vue.min.js">\x3C/script>')
    </script>
</head>

<body>
    <div id="wrap">
        <div id="header">
            <div class="topbar">
                <div class="comWidth">
                    <ul class="leftArea">
                        <li><a href="#">小米网</a></li>
                        <li><span class="sep">|</span></li>
                        <li><a href="#">MIUI</a></li>
                        <li><span class="sep">|</span></li>
                        <li><a href="#">米聊</a></li>
                        <li><span class="sep">|</span></li>
                        <li><a href="#">游戏</a></li>
                        <li><span class="sep">|</span></li>
                        <li><a href="#">多看阅读</a></li>
                        <li><span class="sep">|</span></li>
                        <li><a href="#">云服务</a></li>
                        <li><span class="sep">|</span></li>
                        <li><a href="#">小米网移动版</a></li>
                        <li><span class="sep">|</span></li>
                        <li><a href="#">问题反馈</a></li>
                        <li><span class="sep">|</span></li>
                        <li><a href="#">Select Region</a></li>
                    </ul>
                    <div class="rightArea">
                        <div class="login fl">
                            <a href="#">登录</a>
                            <span class="sep">|</span>
                            <a href="#">注册</a>
                        </div>
                        <div class="cart-mini fr">
                            <a href="#"><i class="iconfont "></i>购物车</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--
        <div id="nav_menu_template">
            <div v-for="c in (nav_template)" class="navMenu nav_menu_show{{c.id}}">
                <div class="nav_menu_list">
                    <ul class="nav_menu_spec" id="nav_item_list_{{c.id}}">
                        <li v-for="item in ({{c.catalog}})">
                            <a href="{{item.href}}" class="nav_menu_list_img"><img src="img/{{item.img_name}}" /></a>
                            <p><a href="{{item.href}}" class="nav_menu_list_title">{{item.title}}</a></p>
                            <p><a href="{{item.href}}" class="nav_menu_list_price">{{item.price}}</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        -->
        <!--
            TODO: solve the 404 error in tag img
            http://qiita.com/nyamogera/items/b8a1c2cb65722dc39a60
        -->
        <div class="navMenu nav_menu_show1">
            <div class="nav_menu_list">
                <ul class="nav_menu_spec" id="nav_item_list_1">
                    <li v-for="item in (mi_phone)">
                        <a href="{{item.href}}" class="nav_menu_list_img"><img src="img/{{item.img_name}}" /></a>
                        <p><a href="{{item.href}}" class="nav_menu_list_title">{{item.title}}</a></p>
                        <p><a href="{{item.href}}" class="nav_menu_list_price">{{item.price}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navMenu nav_menu_show2">
            <div class="nav_menu_list">
                <ul class="nav_menu_spec" id="nav_item_list_2">
                    <li v-for="item in (red_mi)">
                        <a href="{{item.href}}" class="nav_menu_list_img"><img src="img/{{item.img_name}}" /></a>
                        <p><a href="{{item.href}}" class="nav_menu_list_title">{{item.title}}</a></p>
                        <p><a href="{{item.href}}" class="nav_menu_list_price">{{item.price}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navMenu nav_menu_show3">
            <div class="nav_menu_list">
                <ul class="nav_menu_spec" id="nav_item_list_3">
                    <li v-for="item in (mi_pad)">
                        <a href="{{item.href}}" class="nav_menu_list_img"><img src="img/{{item.img_name}}" /></a>
                        <p><a href="{{item.href}}" class="nav_menu_list_title">{{item.title}}</a></p>
                        <p><a href="{{item.href}}" class="nav_menu_list_price">{{item.price}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navMenu nav_menu_show4">
            <div class="nav_menu_list">
                <ul class="nav_menu_spec" id="nav_item_list_4">
                    <li v-for="item in (mi_tv)">
                        <a href="{{item.href}}" class="nav_menu_list_img"><img src="img/{{item.img_name}}" /></a>
                        <p><a href="{{item.href}}" class="nav_menu_list_title">{{item.title}}</a></p>
                        <p><a href="{{item.href}}" class="nav_menu_list_price">{{item.price}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navMenu nav_menu_show5">
            <div class="nav_menu_list">
                <ul class="nav_menu_spec" id="nav_item_list_5">
                    <li v-for="item in (mi_tv_box)">
                        <a href="{{item.href}}" class="nav_menu_list_img"><img src="img/{{item.img_name}}" /></a>
                        <p><a href="{{item.href}}" class="nav_menu_list_title">{{item.title}}</a></p>
                        <p><a href="{{item.href}}" class="nav_menu_list_price">{{item.price}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navMenu nav_menu_show6">
            <div class="nav_menu_list">
                <ul class="nav_menu_spec" id="nav_item_list_6">
                    <li v-for="item in (mi_router)">
                        <a href="{{item.href}}" class="nav_menu_list_img"><img src="img/{{item.img_name}}" /></a>
                        <p><a href="{{item.href}}" class="nav_menu_list_title">{{item.title}}</a></p>
                        <p><a href="{{item.href}}" class="nav_menu_list_price">{{item.price}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navMenu nav_menu_show7">
            <div class="nav_menu_list">
                <ul class="nav_menu_spec" id="nav_item_list_7">
                    <li v-for="item in (mi_smart_hardware)">
                        <a href="{{item.href}}" class="nav_menu_list_img"><img src="img/{{item.img_name}}" /></a>
                        <p><a href="{{item.href}}" class="nav_menu_list_title">{{item.title}}</a></p>
                        <p><a href="{{item.href}}" class="nav_menu_list_price">{{item.price}}</a></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="container comWidth clearfix">
            <div class="nav clearfix">
                <div class="header-logo">
                    <div class="logo fl"></div>
                    <div class="doodle-ad fl"></div>
                </div>
                <ul class="nav_list clearfix fl">
                    <li v-for="item in (nav_list)">
                        <a href="{{item.href}}">{{item.title}}</a>
                    </li>
                    <!--
                    <li><a href="#">小米手机</a></li><li><a href="#">红米</a></li><li><a href="#">平板</a></li><li><a href="#">电视</a></li><li><a href="#">盒子 · 影音</a></li><li><a href="#">路由器</a></li><li><a href="#">智能硬件</a></li><li><a href="#">服务</a></li><li><a href="#">社区</a></li>
                    -->
                </ul>
                <div class="search fl">
                    <div class="search-box">
                        <form>
                            <input type="text" class="search-txt fl" />
                            <input type="submit" class="search-btn fl" value="" />
                            <div class="hot-word1"><a href="#">小米手机4c</a></div>
                            <div class="hot-word2"> <a href="#">平衡车</a></div>
                        </form>
                    </div>
                    <ul class="search-extra">
                        <li v-for="item in (search_extra)">
                            <a href="#"><span class="spec_name">{{item.title}}</span><span class="result">约有{{item.count}}件</span></a>
                        </li>
                        <!--
                                <li><a href="#"><span class="spec_name">移动电源</span><span class="result">约有22件</span></a></li><li><a href="#"><span class="spec_name">空气净化器</span><span class="result">约有2件</span></a></li><li><a href="#"><span class="spec_name">小米手环</span><span class="result">约有5件</span></a></li><li><a href="#"><span class="spec_name">WiFi</span><span class="result">约有7件</span></a></li><li><a href="#"><span class="spec_name">自拍杆</span><span class="result">约有1件</span></a></li><li><a href="#"><span class="spec_name">小米体重秤</span><span class="result">约有134件</span></a></li><li><a href="#"><span class="spec_name">小蚁摄像机</span><span class="result">约有6件</span></a></li><li><a href="#"><span class="spec_name">运动相机</span><span class="result">约有22件</span></a></li><li><a href="#"><span class="spec_name">智能插座</span><span class="result">约有4件</span></a></li><li><a href="#"><span class="spec_name">配件优惠套装</span><span class="result">约有11件</span></a></li>
                            -->
                    </ul>
                </div>
            </div>
            <div class="category">
                <div class="category clearfix">
                    <ul class="category_list">
                        <li class="category_item" v-for="item in (category_list)">
                            <a href="" class="category_item_icon">{{item.title}}</a>
                            <div class="category_item_box clearfix">
                                <ul class="category_item_list fl" v-if="item.datalist">
                                    <li class="category_item_spec clearfix" v-for="list in item.datalist">
                                        <a href="{{list.href}}" class="category_item_spec_detail fl">
                                            <img src="img/category/{{list.img_name}}">
                                            <span class="category_item_title">{{list.title}}</span>
                                        </a>
                                        <span href="#" class="category_item_btn fl" v-if="item.title == '手机 平板 电话卡'">选购</span>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                                <ul class="category_item_list fl" v-if="item.datalist_2">
                                    <li class="category_item_spec clearfix" v-for="list in item.datalist_2">
                                        <a href="{{list.href}}" class="category_item_spec_detail fl">
                                            <img src="img/category/{{list.img_name}}">
                                            <span class="category_item_title">{{list.title}}</span>
                                        </a>
                                        <span href="#" class="category_item_btn fl" v-if="item.title == '手机 平板 电话卡'">选购</span>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                                <ul class="category_item_list fl" v-if="item.datalist_3">
                                    <li class="category_item_spec clearfix" v-for="list in item.datalist_3">
                                        <a href="{{list.href}}" class="category_item_spec_detail fl">
                                            <img src="img/category/{{list.img_name}}">
                                            <span class="category_item_title">{{list.title}}</span>
                                        </a>
                                        <span href="#" class="category_item_btn fl" v-if="item.title == '手机 平板 电话卡'&&!item.datalist_3">选购</span>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </li>
                        <!--
                        <li class="category_item"><a href="" class="category_item_icon">手机 平板 电话卡</a></li><li class="category_item"><a href="" class="category_item_icon">电视 盒子</a></li><li class="category_item"><a href="" class="category_item_icon">路由器 智能硬件</a></li><li class="category_item"><a href="" class="category_item_icon">移动电源 插线板</a></li><li class="category_item"><a href="" class="category_item_icon">耳机 音箱</a></li><li class="category_item"><a href="" class="category_item_icon">电池 存储卡</a></li><li class="category_item"><a href="" class="category_item_icon">保护套 后盖</a></li><li class="category_item"><a href="" class="category_item_icon">贴膜 其他配件</a></li><li class="category_item"><a href="" class="category_item_icon">米兔 服装</a></li><li class="category_item"><a href="" class="category_item_icon">箱包 其他周边</a></li>
                    -->
                    </ul>
                    <ul class="category_hot">
                        <ul class="category_hot_list">
                            <li style="display: block">
                                <a href="#"><img src="img/hot1.jpg" /></a>
                            </li>
                            <li style="display: none" v-for="item in (category_hot_list)">
                                <a href="{{item.href}}"><img src="img/{{item.img_name}}" /></a>
                            </li>
                            <!--
                            <li style="display: block"><a href="#"><img src="img/hot1.jpg"/></a></li><li style="display: block"><a href="#"><img src="img/hot5.jpg"/></a></li>
                        -->
                        </ul>
                        <ul class="category_move">
                            <li>
                                <span class="cur_move"></span>
                            </li>
                            <li><span></span></li>
                            <li><span></span></li>
                            <li><span></span></li>
                            <li><span></span></li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="channel clearfix">
                <div class="span4">
                    <ul class="channel_list fl">
                        <li>
                            <a href="#">
                                <i class="iconfont">&#xe665;</i> 电信专场
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconfont">&#xe65a;</i> 企业团购
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconfont">&#xe614;</i> 官翻产品
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconfont">&#xe618;</i> 小米移动
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconfont">&#xe671;</i> 以旧换新
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="iconfont">&#xf00a8;</i> 话费充值
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hotimg-grid fl">
                    <ul class="hotimg-grid-list">
                        <li class="first">
                            <a href="">
                                <img src="img/hot6.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="img/hot7.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="img/hot8.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="star_spec_wrapper">
                <div class="star_spec comWidth clearfix">
                    <div class="spec_top">
                        <h2 class="spec_type_title fl">小米明星单品</h2>
                        <div class="spec_left_right fl">
                            <a class="left_img fl">
                                <img src="img/icon/left2.png" /></a>
                            <a class="right_img fl">
                                <img src="img/icon/right1.png" /></a>
                        </div>
                    </div>
                    <ul class="spec_item_list" id="star_goods">
                        <li v-for="item in (star_goods)" class="spec_item spec_top_border{{item.color_id}}">
                            <a class="spec_img"><img src="img/star/star_{{item.img_id}}.jpg" /></a>
                            <h3 class="spec_title"><a href="#" >{{item.title}}</a></h3>
                            <p class="spec_desc">{{item.desc}}</p>
                            <p class="spec_money">{{item.price}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--
        <div class="home-page">
            <div class="container">
                <div class="hardware">
                    <div class="box-hd">
                        <h2>智能硬件</h2>
                        <div class="more-product">
                            <a href="#">
                            查看全部
                            </a>
                        </div>
                    </div>
                    <div class="box-bd">
                        <div class="box-bd-first fl box-shadow">
                            <a href="">
                                <img src="img/hardware/left-span.jpg">
                            </a>
                        </div>
                        <div class="box-bd-list fl">
                            <ul class="brick-list clearfix">

                                <li v-for="item in (brick_list)" class="box-shadow">
                                    <div class="figure-img">
                                        <a href="{{item.href}}">
                                            <img src="{{item.img_src}}">
                                        </a>
                                    </div>
                                    <h3 class="title">
                                     <a href="{{item.href}}">
                                        {{item.title}}
                                     </a>
                                    </h3>
                                    <p class="intro">{{item.intro}}</p>
                                    <p class="price">{{item.price}}</p>
                                    <div class="flag" v-if="item.label=='new'">新品</div>
                                </li>

                                <li class="block-item block-item-m" v-for="item in (brick_list)">
                                    <div class="figure figure-img">
                                        <a href="{{item.href}}">
                                            <img src="{{item.img_src}}" width="160" height="160" alt="米家压力IH电饭煲">
                                        </a>
                                    </div>
                                    <h3 class="title">
                                        <a href="{{item.href}}">{{item.title}}</a>
                                    </h3>
                                    <p class="desc">{{item.intro}}</p>
                                    <p class="price"> <span>{{item.price}}</span>元</p>
                                    <div class="flag flag-new">新品</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="match"></div>
                <div class="armature"></div>
                <div class="around"></div>
                <div class="recommend"></div>
                <div class="review"></div>
                <div class="content"></div>
                <div class="video"></div>
            </div>
        </div>
-->
        <div class="page-main"><div class="comWidth">
            <div class="smart">
                <div class="title-box">
                    <h2 class="title">智能硬件</h2>
                    <div class="more"><a class="more-link" href="">查看全部<i class="iconfont"></i></a></div>
                </div>
                <div class="row">
                    <div class="span4 first-row">
                        <div class="block-item">
                            <img src="img/page-main/smart/left-span.jpg" />
                        </div>
                    </div>
                    <div class="span16">
                        <ul class="block-list">
                            <li class="block-item block-item-m" v-for="item in (brick_list)">
                                <div class="figure figure-img">
                                    <a href="{{item.href}}">
                                        <img src="{{item.img_src}}" width="160" height="160" alt="米家压力IH电饭煲">
                                    </a>
                                </div>
                                <h3 class="title">
                                    <a href="{{item.href}}">{{item.title}}</a>
                                </h3>
                                <p class="desc">{{item.intro}}</p>
                                <p class="price"> <span>{{item.price}}</span></p>
                                <div class="flag flag-new" v-if="item.label=='new'">新品</div>
                                <div class="flag flag-saleoff" v-if="item.label=='saleoff'">{{item.sale}}</div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
            <div class="match">

            </div>
            <div class="accessories">

            </div>
            <div class="around">

            </div>
            <div class="recommend">

            </div>
            <div class="comment">

            </div>
            <div class="content">

            </div>
            <div class="video">

            </div>
        </div></div>

        <div id="footer">
            <div class="footer_top comWidth">
                <div class="footer-service">
                    <ul class="list-service clearfix">
                        <li><a href=""><i class="iconfont"></i>1小时快修服务</a></li>
                        <li><a href=""><i class="iconfont"></i>7天无理由退货</a></li>
                        <li><a href=""><i class="iconfont"></i>15天免费换货</a></li>
                        <li><a href=""><i class="iconfont"></i>满150元包邮</a></li>
                        <li><a href=""><i class="iconfont"></i>520余家售后网点</a></li>
                    </ul>
                </div>
                <div class="footer-links clearfix">
                    <dl class="col-links col-links-first">
                        <dt>帮助中心</dt>
                        <dd><a href="" target="_blank">购物指南</a></dd>
                        <dd><a href="" target="_blank">支付方式</a></dd>
                        <dd><a href="" target="_blank">配送方式</a></dd>
                    </dl>
                    <dl class="col-links">
                        <dt>服务支持</dt>
                        <dd><a href="" target="_blank">售后政策</a></dd>
                        <dd><a href="" target="_blank">自助服务</a></dd>
                        <dd><a href="" target="_blank">相关下载</a></dd>
                    </dl>
                    <dl class="col-links">
                        <dt>线下门店</dt>
                        <dd><a href="" target="_blank">小米之家</a></dd>
                        <dd><a href="" target="_blank">服务网点</a></dd>
                        <dd><a href="" target="_blank">零售网点</a></dd>
                    </dl>
                    <dl class="col-links">
                        <dt>关于小米</dt>
                        <dd><a href="" target="_blank">了解小米</a></dd>
                        <dd><a href="" target="_blank">加入小米</a></dd>
                        <dd><a href="" target="_blank">联系我们</a></dd>
                    </dl>
                    <dl class="col-links">
                        <dt>关注我们</dt>
                        <dd><a href="" target="_blank">新浪微博</a></dd>
                        <dd><a href="" target="_blank">小米部落</a></dd>
                        <dd><a href="" data-toggle="modal">官方微信</a></dd>
                    </dl>
                    <dl class="col-links">
                        <dt>特色服务</dt>
                        <dd><a href="" target="_blank">F 码通道</a></dd>
                        <dd><a href="" target="_blank">小米移动</a></dd>
                        <dd><a href="" target="_blank">防伪查询</a></dd>
                    </dl>
                    <div class="col-contact">
                        <p class="phone">400-100-5678</p>
                        <p>
                            周一至周日 8:00-18:00
                            <br>（仅收市话费）
                        </p>
                        <a class="btn-line" href="" target="_blank"><i class="iconfont"></i> 24小时在线客服</a>
                    </div>
                </div>
            </div>

            <div class="footer_bottom">
                <div class="footer_bottom_container comWidth">
                    <div class="footer_bottom_img fl">
                        <img src="img/logo.png" />
                    </div>
                    <div class="footer_bottom_info fl">
                        <ul class="footer_bottom_nav">
                            <li><a href="#">小米网</a></li>
                            <li><span>|</span></li>
                            <li><a href="#">MIUI</a></li>
                            <li><span>|</span></li>
                            <li><a href="#">米聊</a></li>
                            <li><span>|</span></li>
                            <li><a href="#">多看书城</a></li>
                            <li><span>|</span></li>
                            <li><a href="#">小米路由器</a></li>
                            <li><span>|</span></li>
                            <li><a href="#">视频电话</a></li>
                            <li><span>|</span></li>
                            <li><a href="#">小米后院</a></li>
                            <li><span>|</span></li>
                            <li><a href="#">小米天猫店</a></li>
                            <li><span>|</span></li>
                            <li><a href="#">小米淘宝直营店</a></li>
                            <li><span>|</span></li>
                            <li><a href="#">小米网盟</a></li>
                            <li><span>|</span></li>
                            <li><a href="#">问题反馈</a></li>
                            <li><span>|</span></li>
                            <li><a href="#">Select Region</a></li>
                        </ul>



                        <p class="footer_bottom_info">
                            ©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备1101080212535号 京网文[2014]0059-0009号
                        </p>
                        <p class="footer_bottom_info">
                            违法和不良信息举报电话：185-0130-1238, 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试
                        </p>
                    </div>
                    <div class="useless_link">
                        <a href="" target="_blank"><img src="img/v-logo-1.png" alt="诚信网站"></a>
                        <a href="" target="_blank"><img src="img/v-logo-2.png" alt="可信网站"></a>
                        <a href="" target="_blank"><img src="img/v-logo-3.png" alt="网上交易保障中心"></a>
                    </div>
                </div>
                <div class="slogan ir">探索黑科技，小米为发烧而生</div>
            </div>
        </div>
    </div>
    <script src="js/vue-view.js"></script>
    <script src="js/mi.js"></script>
</body>

</html>
