<!DOCTYPE html>
<html>

<head>
    <title>小米官网——小米手机、红米手机、小米电视官方正品专卖网站</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="css/iconfont.css">
    <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
    <script>
    if (!window.$) document.write('<script src="js/jquery.js">\x3C/script>')
    </script>
    <!-- <script src="https://cdn.bootcss.com/vue/1.0.7/vue.min.js"></script> -->
    <script>
    if (!window.Vue) document.write('<script src="js/vue.js">\x3C/script>')
    </script>
</head>

<body>
    <div id="wrap">
        <div id="header">
            <div class="topbar">
                <div class="comWidth">
                    <ul class="leftArea">
                        <li><a href="#">小米网</a></li>
                        <div v-for="item in header_links_inline">
                          <li><span class="sep">|</span></li>
                          <li><a href="{{item.href}}">{{item.title}}</a></li>
                        </div>
                    </ul>
                    <div class="rightArea">
                        <div class="login fl">
                            <a href="#">登录</a>
                            <span class="sep">|</span>
                            <a href="#">注册</a>
                        </div>
                        <div class="cart-mini fr">
                            <a href="#"><i class="iconfont "></i>购物车</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="nav_menu_template">
            <div v-for="c in (nav_item_list)" class="navMenu nav_menu_show{{$key}}">
                <div class="nav_menu_list">
                    <ul class="nav_menu_spec" id="nav_item_list_{{$key}}">
                        <li v-for="item in c">
                            <a href="{{item.href}}" class="nav_menu_list_img"><img v-bind:src="item.img_name" /></a>
                            <p><a href="{{item.href}}" class="nav_menu_list_title">{{item.title}}</a></p>
                            <p><a href="{{item.href}}" class="nav_menu_list_price">{{item.price}}</a></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container comWidth clearfix">
            <div class="nav clearfix">
                <div class="header-logo">
                    <div class="logo fl"></div>
                    <div class="doodle-ad fl"></div>
                </div>
                <ul class="nav_list clearfix fl">
                    <li v-for="item in (nav_list)">
                        <a href="{{item.href}}">{{item.title}}</a>
                    </li>
                </ul>
                <div class="search fl">
                    <div class="search-box">
                        <form>
                            <input type="text" class="search-txt fl" />
                            <input type="submit" class="search-btn fl" value="" />
                            <div class="hot-word1"><a href="#">小米手机4c</a></div>
                            <div class="hot-word2"> <a href="#">平衡车</a></div>
                        </form>
                    </div>
                    <ul class="search-extra">
                        <li v-for="item in (search_extra)">
                            <a href="#"><span class="spec_name">{{item.title}}</span><span class="result">约有{{item.count}}件</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="category">
                <div class="category clearfix">
                    <ul class="category_list">
                        <li class="category_item" v-for="item in (category_list)">
                            <a href="" class="category_item_icon">{{item.title}}</a>
                            <div class="category_item_box clearfix">
                                <ul class="category_item_list fl" v-if="item.datalist">
                                    <li class="category_item_spec clearfix" v-for="list in item.datalist">
                                        <a href="{{list.href}}" class="category_item_spec_detail fl">
                                            <img v-bind:src="list.img_name">
                                            <span class="category_item_title">{{list.title}}</span>
                                        </a>
                                        <span href="#" class="category_item_btn fl" v-if="item.title == '手机 平板 电话卡'">选购</span>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                                <ul class="category_item_list fl" v-if="item.datalist_2">
                                    <li class="category_item_spec clearfix" v-for="list in item.datalist_2">
                                        <a href="{{list.href}}" class="category_item_spec_detail fl">
                                            <img v-bind:src="list.img_name">
                                            <span class="category_item_title">{{list.title}}</span>
                                        </a>
                                        <span href="#" class="category_item_btn fl" v-if="item.title == '手机 平板 电话卡'">选购</span>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                                <ul class="category_item_list fl" v-if="item.datalist_3">
                                    <li class="category_item_spec clearfix" v-for="list in item.datalist_3">
                                        <a href="{{list.href}}" class="category_item_spec_detail fl">
                                            <img v-bind:src="list.img_name">
                                            <span class="category_item_title">{{list.title}}</span>
                                        </a>
                                        <span href="#" class="category_item_btn fl" v-if="item.title == '手机 平板 电话卡'&&!item.datalist_3">选购</span>
                                    </li>
                                    <div class="clearfix"></div>
                                </ul>
                            </div>
                        </li>
                    </ul>
                    <ul class="category_hot">
                        <ul class="category_hot_list">
                            <li style="display: block">
                                <a href="#"><img src="img/hot1.jpg" /></a>
                            </li>
                            <li style="display: none" v-for="item in (category_hot_list)">
                                <a href="{{item.href}}"><img v-bind:src="item.img_name" /></a>
                            </li>
                        </ul>
                        <ul class="category_move">
                            <li>
                                <span class="cur_move"></span>
                            </li>
                            <li><span></span></li>
                            <li><span></span></li>
                            <li><span></span></li>
                            <li><span></span></li>
                        </ul>
                    </ul>
                </div>
            </div>
            <div class="channel clearfix">
                <div class="span4">
                    <ul class="channel_list fl">
                        <li v-for="item in channel_list">
                            <a href="{{item.href}}">
                                <i class="iconfont">{{item.icon}}</i>{{item.content}}
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="hotimg-grid fl">
                    <ul class="hotimg-grid-list">
                        <li class="first">
                            <a href="">
                                <img src="img/hot6.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="img/hot7.jpg">
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="img/hot8.jpg">
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="star_spec_wrapper">
                <div class="star_spec comWidth clearfix">
                    <div class="spec_top">
                        <h2 class="spec_type_title fl">小米明星单品</h2>
                        <div class="spec_left_right fl">
                            <a class="left_img fl">
                                <img src="img/icon/left2.png" /></a>
                            <a class="right_img fl">
                                <img src="img/icon/right1.png" /></a>
                        </div>
                    </div>
                    <ul class="spec_item_list" id="star_goods">
                        <li v-for="item in (star_goods)" class="spec_item spec_top_border{{item.color_id}}">
                            <a class="spec_img"><img v-bind:src="item.img_id" /></a>
                            <h3 class="spec_title"><a href="#" >{{item.title}}</a></h3>
                            <p class="spec_desc">{{item.desc}}</p>
                            <p class="spec_money">{{item.price}}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="page-main">
            <div class="comWidth">
                <div class="smart">
                    <div class="title-box">
                        <h2 class="title">智能硬件</h2>
                        <div class="more"><a class="more-link" href="">查看全部<i class="iconfont"></i></a></div>
                    </div>
                    <div class="row">
                        <div class="span4 first-row">
                            <div class="block-item img-l">
                                <img src="img/page-main/smart/left-span.jpg" />
                            </div>
                        </div>
                        <div class="span16">
                            <ul class="block-list">
                                <li class="block-item block-item-m" v-for="item in (smart_list)">
                                    <div class="figure figure-img">
                                        <a href="{{item.href}}">
                                            <img v-bind:src="item.img_src" width="160" height="160" alt="{{item.title}}">
                                        </a>
                                    </div>
                                    <h3 class="title">
                                    <a href="{{item.href}}">{{item.title}}</a>
                                </h3>
                                    <p class="desc">{{item.intro}}</p>
                                    <p class="price"> <span>{{item.price}}</span></p>
                                    <div class="flag flag-new" v-if="item.label=='new'">新品</div>
                                    <div class="flag flag-saleoff" v-if="item.label=='saleoff'">{{item.sale}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="match">
                    <div class="title-box">
                        <h2 class="title">搭配</h2>
                        <div class="more">
                            <ul class="tab-list">
                                <li class="tab-active" id="match-tab-hot">热门</li>
                                <li id="match-tab-speaker">耳机音箱</li>
                                <li id="match-tab-battery">电源</li>
                                <li id="match-tab-memcard">电池存储卡</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row match-row-template">
                        <div class="span4 first-row">
                            <ul>
                                <li class="block-item img-m">
                                    <img src="img/page-main/match/match_left_1.jpg" />
                                </li>
                                <li class="block-item img-m">
                                    <img src="img/page-main/match/match_left_2.jpg" />
                                </li>
                            </ul>
                        </div>
                        <div class="span16" v-for="value in (main_page_match)" id="{{$key}}" style="display: none;">
                            <ul class="block-list">
                                <li class="block-item block-item-m" v-for="item in (value)" v-if="$index != 7">
                                    <div class="figure figure-img">
                                        <a href="{{item.href}}"><img v-bind:src="item.img_src" width="160" height="160" alt="{{item.title}}"></a>
                                    </div>
                                    <h3 class="title">
                                    <a href="{{item.href}}">{{item.title}}</a>
                                </h3>
                                    <p class="price"> <span>{{item.price}}</span></p>
                                    <p class="desc">{{item.reviewed}}人评论</p>
                                    <div class="review-wrapper">
                                        <a href="">
                                            <span class="review">{{item.review}}</span>
                                            <span class="author">来自 {{item.author}} 的评论</span>
                                        </a>
                                    </div>
                                    <div class="flag flag-new" v-if="item.label=='new'">新品</div>
                                    <div class="flag flag-saleoff" v-if="item.label=='saleoff'">{{item.sale}}</div>
                                </li>
                                <li class="block-item block-list-s">
                                    <div class="figure-img">
                                        <a href="#">
                                            <img v-bind:src="value[7].img_src" width="80" height="80" alt="{{item.title}}">
                                        </a>
                                    </div>
                                    <h3 class="title">{{value[7].title}}</h3>
                                    <p class="price">{{value[7].price}}</p>
                                </li>
                                <li class="block-item block-list-s">
                                    <div class="figure-more"><a><i class="iconfont"></i></a></div>
                                    <a class="more">浏览更多<br><small>热门</small></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="accessories">
                    <div class="title-box">
                        <h2 class="title">配件</h2>
                        <div class="more">
                            <ul class="tab-list">
                                <li class="tab-active" id="accessories-tab-hot">热门</li>
                                <li id="accessories-tab-phonecase">保护套</li>
                                <li id="accessories-tab-backcase">后盖</li>
                                <li id="accessories-tab-mo">贴膜</li>
                                <li id="accessories-tab-other">其他配件</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row accessories-row-template">
                        <div class="span4 first-row">
                            <ul>
                                <li class="block-item img-m">
                                    <img src="img/page-main/accessories/accessories_left_1.jpg" />
                                </li>
                                <li class="block-item img-m">
                                    <img src="img/page-main/accessories/accessories_left_2.jpg" />
                                </li>
                            </ul>
                        </div>
                        <div class="span16" v-for="value in (main_page_accessories)" id="{{$key}}" style="display: none;">
                            <ul class="block-list">
                                <li class="block-item block-item-m" v-for="item in (value)" v-if="$index != 7">
                                    <div class="figure figure-img">
                                        <a href="{{item.href}}"><img v-bind:src="item.img_src" width="160" height="160" alt="{{item.title}}"></a>
                                    </div>
                                    <h3 class="title">
                                    <a href="{{item.href}}">{{item.title}}</a>
                                </h3>
                                    <p class="price"> <span>{{item.price}}</span></p>
                                    <p class="desc">{{item.reviewed}}人评论</p>
                                    <div class="review-wrapper">
                                        <a href="">
                                            <span class="review">{{item.review}}</span>
                                            <span class="author">来自 {{item.author}} 的评论</span>
                                        </a>
                                    </div>
                                    <div class="flag flag-new" v-if="item.label=='new'">新品</div>
                                    <div class="flag flag-saleoff" v-if="item.label=='saleoff'">{{item.sale}}</div>
                                </li>
                                <li class="block-item block-list-s">
                                    <div class="figure-img">
                                        <a href="#">
                                            <img v-bind:src="value[7].img_src" width="80" height="80" alt="{{item.title}}">
                                        </a>
                                    </div>
                                    <h3 class="title">{{value[7].title}}</h3>
                                    <p class="price">{{value[7].price}}</p>
                                </li>
                                <li class="block-item block-list-s">
                                    <div class="figure-more"><a><i class="iconfont"></i></a></div>
                                    <a class="more">浏览更多<br><small>热门</small></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="around">
                    <div class="title-box">
                        <h2 class="title">周边</h2>
                        <div class="more">
                            <ul class="tab-list">
                                <li class="tab-active" id="around-tab-hot">热门</li>
                                <li id="around-tab-cloth">保护套</li>
                                <li id="around-tab-rabbit">后盖</li>
                                <li id="around-tab-life">贴膜</li>
                                <li id="around-tab-case">其他配件</li>
                            </ul>
                        </div>
                    </div>
                    <div class="row around-row-template">
                        <div class="span4 first-row">
                            <ul>
                                <li class="block-item img-m">
                                    <img src="img/page-main/around/around_left_1.jpg" />
                                </li>
                                <li class="block-item img-m">
                                    <img src="img/page-main/around/around_left_2.jpg" />
                                </li>
                            </ul>
                        </div>
                        <div class="span16" v-for="value in (main_page_around)" id="{{$key}}" style="display: none;">
                            <ul class="block-list">
                                <li class="block-item block-item-m" v-for="item in (value)" v-if="$index != 7">
                                    <div class="figure figure-img">
                                        <a href="{{item.href}}"><img v-bind:src="item.img_src" width="160" height="160" alt="{{item.title}}"></a>
                                    </div>
                                    <h3 class="title">
                                    <a href="{{item.href}}">{{item.title}}</a>
                                </h3>
                                    <p class="price"> <span>{{item.price}}</span></p>
                                    <p class="desc">{{item.reviewed}}人评论</p>
                                    <div class="review-wrapper">
                                        <a href="">
                                            <span class="review">{{item.review}}</span>
                                            <span class="author">来自 {{item.author}} 的评论</span>
                                        </a>
                                    </div>
                                    <div class="flag flag-new" v-if="item.label=='new'">新品</div>
                                    <div class="flag flag-saleoff" v-if="item.label=='saleoff'">{{item.sale}}</div>
                                </li>
                                <li class="block-item block-list-s">
                                    <div class="figure-img">
                                        <a href="#">
                                            <img v-bind:src="value[7].img_src" width="80" height="80" alt="{{item.title}}">
                                        </a>
                                    </div>
                                    <h3 class="title">{{value[7].title}}</h3>
                                    <p class="price">{{value[7].price}}</p>
                                </li>
                                <li class="block-item block-list-s">
                                    <div class="figure-more"><a><i class="iconfont"></i></a></div>
                                    <a class="more">浏览更多<br><small>热门</small></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="recommend">
                  <div class="star_spec_wrapper">
                      <div class="star_spec comWidth clearfix">
                          <div class="spec_top">
                              <h2 class="spec_type_title fl">为你推荐</h2>
                              <div class="spec_left_right fl">
                                  <a class="left_img fl white">
                                      <img src="img/icon/left2.png" /></a>
                                  <a class="right_img fl white">
                                      <img src="img/icon/right1.png" /></a>
                              </div>
                          </div>
                          <ul class="spec_item_list" id="recommend_goods">
                              <li v-for="item in (recommend_goods)" class="box-shadow spec_item spec_top_border{{item.color_id}}">
                                  <a class="spec_img"><img v-bind:src="item.img_id" /></a>
                                  <h3 class="spec_title"><a href="#" >{{item.title}}</a></h3>
                                  <p class="spec_desc">{{item.desc}}</p>
                                  <p class="spec_money">{{item.price}}</p>
                              </li>
                          </ul>
                      </div>
                  </div>
                </div>
                <div class="hotreview">
                    <div class="title-box">
                        <h2 class="title">热评产品</h2>
                    </div>
                    <div class="review-list">
                        <div class="review-block box-shadow" v-for="item in list_item">
                          <div class="figure figure-img">
                              <img v-bind:src="item.img_src"/>
                          </div>
                          <p class="review-content">{{item.review}}</p>
                          <p class="author">来自于 {{item.author}} 的评价</p>
                          <div class="info">
                            <h3 class="title">{{item.title}}</h3>
                            <span class="sep">|</span>
                            <p class="price">{{item.price}}</p>
                          </div>
                        </div>
                    </div>
                </div>
                <div class="video"></div>
                <div class="content">
                    <div class="title-box">
                        <h2 class="title">内容</h2>
                    </div>
                    <div>
                        <ul class="content-list">
                            <li v-for="item in (content_list)" class="content-item {{item.item_class}} {{item.item_first_class}} box-shadow">
                                <h2 class="title">{{item.title}}</h2>
                                <div class="content-bd">
                                    <ul class="item-list {{item.cont_class}}">
                                        <li v-for="list in item.datalist">
                                            <h4 class="name">{{list.name}}</h4>
                                            <p class="desc">{{list.desc}}</p>
                                            <p class="price">{{list.price}}</p>
                                            <div class="figure-img figure">
                                                <a href=""><img v-bind:src="list.img_src" alt=""></a>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="xm-pagers-wrapper">
                                    <ul class="xm-pagers {{item.xm_class}}">
                                        <li class="pager pager-active">
                                            <span class="dot"></span>
                                        </li>
                                        <li class="pager">
                                            <span class="dot"></span>
                                        </li>
                                        <li class="pager">
                                            <span class="dot"></span>
                                        </li>
                                        <li class="pager">
                                            <span class="dot"></span>
                                        </li>
                                    </ul>
                                </div>
                                <div class="xm-controls {{item.xm_controls_class}}">
                                    <img class="control control-prev" src="img/icon/content_left_hover.png">
                                    <img class="control control-next" src="img/icon/content_right_hover.png">
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="footer_top comWidth">
                <div class="footer-service">
                    <ul class="list-service clearfix">
                        <li v-for="item in footer_service_list">
                            <a href="{{item.href}}"><i class="iconfont">{{item.icon}}</i>{{item.content}}</a>
                        </li>
                    </ul>
                </div>
                <div class="footer-links clearfix">
                    <dl class="col-links" v-for="col in footer_links_table_list">
                        <dt>{{$key}}</dt>
                        <dd v-for="row in col">
                            <a href="{{row.href}}">{{row.content}}</a>
                        </dd>
                    </dl>
                    <div class="col-contact">
                        <p class="phone">400-100-5678</p>
                        <p>
                            周一至周日 8:00-18:00
                            <br>（仅收市话费）
                        </p>
                        <a class="btn-line" href="" target="_blank"><i class="iconfont"></i> 24小时在线客服</a>
                    </div>
                </div>
            </div>
            <div class="footer_bottom">
                <div class="footer_bottom_container comWidth">
                    <div class="footer_bottom_img fl">
                        <img src="img/logo.png" />
                    </div>
                    <div class="footer_bottom_info fl">
                        <ul class="footer_bottom_nav">
                            <li><a href="#">小米网</a></li>
                            <div v-for="link in footer_links_inline.slice(1)">
                              <li><span>|</span></li>
                              <li><a href="{{link.href}}">{{link.title}}</a></li>
                            </div>
                        </ul>
                        <br>
                        <p class="footer_bottom_info">
                            ©mi.com 京ICP证110507号 京ICP备10046444号 京公网安备1101080212535号 京网文[2014]0059-0009号
                        </p>
                        <p class="footer_bottom_info">
                            违法和不良信息举报电话：185-0130-1238, 本网站所列数据，除特殊说明，所有数据均出自我司实验室测试
                        </p>
                    </div>
                    <div class="useless_link">
                        <a href="" target="_blank"><img src="img/v-logo-1.png" alt="诚信网站"></a>
                        <a href="" target="_blank"><img src="img/v-logo-2.png" alt="可信网站"></a>
                        <a href="" target="_blank"><img src="img/v-logo-3.png" alt="网上交易保障中心"></a>
                    </div>
                </div>
                <div class="slogan ir">探索黑科技，小米为发烧而生</div>
            </div>
        </div>
        <script src="js/vue-view.js"></script>
        <script src="js/mi.js"></script>
</body>

</html>
